body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    width: 12px;           /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #2b2b2b;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #434343;    /* cor da scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #434343;  /* creates padding around scroll thumb */
  }

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a:hover{
    color: #24da4a;
}

li{
    list-style: none;
    padding: 16px;
}

ul{
    display: flex;
    margin-left: 48%;
    margin-top: 4.5%;
    position: absolute;
}

h5{
    font-size: 20px;
}

footer{
    background: linear-gradient(to right, #2b2b2b, #626262);
    height: 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#sobre{
    color: #24da4a;
}

#home{
    color: #24da4a;
}

#sobre:hover{
    color: white;
    cursor: default;
}

#home:hover{
    color: white;
    cursor: default;
}

#nav{
    background: linear-gradient(to right, rgb(1, 22, 86), rgba(15, 89, 15, 0.958));
    height: 130px;
    margin-top: -20px;
}

#logo-principal{
    width: 300px;
    position: absolute;
    margin-top: 2%;
    margin-left: 10%;
}

#img-conteudo{
    height: 859px;
    width: 1908px;
}

#depoimentos{
    height: 500px;
    margin-left: 10%;
}

#txt-depoimentos{
    margin-left: 35%;
    font-size: 30px;
    color: #24da4a;
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    font-style: italic;
}

#alunos{
    height: 500px;
    margin-left: 30%;
}

#alunos-2{
    margin-left: 50%;
    margin-top: -27.5%;
    position: absolute;
}

#deiws{
    width: 200px;
    border: 2px solid transparent;
    border-radius: 15px;
}

#luan{
    width: 200px;
    border: 2px solid transparent;
    border-radius: 15px;
}

#txt-aluno{
    margin-top: -20%;
    margin-left: 13.5%;
    font-size: 25px;
    font-style: italic;
    position: absolute;
}

#txt-aluno-1{
    margin-top: -20%;
    margin-left: 15%;
    font-size: 25px;
    font-style: italic;
}

#txt-depoimento1{
    font-size: 16px;
    margin-left: 15%;
    font-style: italic;
    margin-top: -18%;
}

#txt-depoimento2{
    font-size: 16px;
    margin-left: 15%;
    font-style: italic;
}

#linha-hr{
    border: 5px solid #24da4a;
}

#txt-alunos{
    margin-left: 40%;
    font-size: 30px;
    color: #24da4a;
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    font-style: italic;
}

#txt-inicio{
    color: #05fc3a;
    font-size: 85px;
    margin-top: -35%;
    margin-left: 10%;
    position: absolute;
}

#p-inicio{
    margin-top: -30%;
    position: absolute;
    color: white;
    font-size: 30px;
    margin-left: 10%;
}